<!DOCTYPE html>
<html lang="en">
<head>
    <title> Team </title>
    <link rel="stylesheet" href="/Static/Css/team.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Css/team.css') }}">

</head>
<body>

    <header>
        
        <nav>
            <div class="logo">  Waste Sorting And Recycling</div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('classify') }}">Classify</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        
    </header>

    <main class="main"> 

        <div class="web-title">
            <h2> Team Members</h2>
            <p> </p>
        </div>

        <div class="container">
            <div class="image">
              <img src="/Static/Images/TL.png" alt="Image 1">
            </div>
            <div class="image">
              <img src="/Static/Images/TM1.png" alt="Image 2">
            </div>
            <div class="image">
              <img src="/Static/Images/TM2.png" alt="Image 3">
            </div>
            <div class="image">
              <img src="/Static/Images/TM3.png" alt="Image 4">
            </div>
          </div>

          <div class="container">
            <div class="text">
              <h3>Team Leader</h3>
              <p>Govinda P B (MCA)</p>
            </div>
            <div class="text">
              <h3>Team Member 1</h3>
              <p>Abhinav sujieer (MCA)</p>
            </div>
            <div class="text">
              <h3>Team Member 2</h3>
              <p>Christo joy (MCA)</p>
            </div>
            <div class="text">
              <h3>Team Member 3</h3>
              <p>Albert davis(MCA)</p>

        
    </main>

    <footer></footer>
</body>
</html>